#memebox_com {
  width: 100%;
  position: relative;
}

#memebox_com #main {
  width: 100%;
}

#memebox_com #main .container .banner {
  margin-top: 30px;
}

#memebox_com #main .container ul {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

#memebox_com #main .container ul li {
  float: left;
  width: 262px;
  height: 583px;
  margin-right: 25px;
}

#memebox_com #main .container ul li .Brand {
  font-size: 14px;
  color: #333;
  padding-left: 96px;
}

#memebox_com #main .container ul li .Good {
  font-size: 18px;
  color: #333;
  padding-left: 46px;
}

#memebox_com #main .container ul li .OldPrice {
  color: #999;
  font-size: 14px;
  padding-left: 111px;
}

#memebox_com #main .container ul li .NowPrice {
  color: #ff5073;
  font-size: 14px;
  padding-left: 115px;
}

#memebox_com #main .container ul li img {
  width: 260px;
  height: 260px;
  margin-bottom: 60px;
}

#memebox_com #main .container ul li .addToCart {
  width: 111px;
  height: 47px;
  margin-left: 77px;
  margin-top: 25px;
  cursor: pointer;
}

#memebox_com #main .container ul li .addToCart:hover {
  background-color: #ff5073;
  color: #fff;
}

#memebox_com #main .container .mainTop {
  width: 100%;
  padding-top: 29px;
  margin-bottom: 20px;
}

#memebox_com #main .container .mainTop p {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 60px;
}

#memebox_com #main .container .mainTop p .goodsCount {
  font-size: 14px;
  line-height: 57px;
  margin-right: 10px;
}

#memebox_com #main .container .mainTop p a {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  color: #000;
  text-align: center;
}

#memebox_com #main .container .mainTop p .sortM {
  width: 50px;
  height: 30px;
  font-size: 12px;
  color: #666;
}

#memebox_com #main .container .mainTop p a:hover {
  background-color: #000;
  color: #fff;
}

#memebox_com #main .container .mainTop p .sortA {
  font-size: 14px;
}

#memebox_com #main .container .page {
  width: 200px;
  margin: 0 auto;
  color: #333;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#memebox_com #main .container .page span, #memebox_com #main .container .page a {
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: #F5F5F5;
  text-align: center;
  margin-right: 2px;
  cursor: pointer;
  line-height: 28px;
}

#memebox_com #main .container .page .active {
  background-color: #ccc;
}

#memebox_com #main .container .page span:hover, #memebox_com #main .container .page a:hover {
  background-color: #000;
  color: #fff;
}
